/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

/* BACKGROUND ESPAÇO */
body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    color: white;
    overflow-x: hidden;
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    background-image:
        radial-gradient(2px 2px at 20px 30px, white, transparent),
        radial-gradient(1px 1px at 100px 150px, white, transparent),
        radial-gradient(1px 1px at 200px 80px, white, transparent),
        radial-gradient(2px 2px at 300px 200px, white, transparent),
        radial-gradient(1px 1px at 400px 100px, white, transparent);
    background-size: 500px 500px;
    z-index: -1;
}

.homeShortcuts {
    display: flex;
    grid-area: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.section {
    min-height: 100vh;
    padding: 6rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.pageName {
    flex-direction: column;
    text-align: center;

}

/* NAV */
.navegation {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(82, 82, 82, 0.8);
    z-index: 100;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 90vw;
    height: 90vw;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
}

.menu {
    justify-self: center;

    display: flex;
    gap: 3rem;
    list-style: none;
    margin: 0;
    padding: 0;
}


.objectsMenu {
    color: white;
    text-decoration: none;
    position: relative;
    padding: 0.5rem 0;
}

.objectsMenu::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background: linear-gradient(90deg, yellow, black);
    transition: width .4s;
}

.objectsMenu:hover::after {
    width: 100%;
}


.header {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title-container {
    text-align: center;
    padding: 2rem;
}

.Title {
    font-size: 4rem;
}

.Subtitle {
    font-size: 1.3rem;
    opacity: .8;
}

.aboutmePage {
    flex-direction: column;
    align-items: center;
}

.AboutTitle {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.AboutBox {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.AboutText {
    text-align: center;
}

/* PROJECTS */
.projectsPage {
    flex-direction: column;
    align-items: center;
}

.project-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5rem;
}

.ProjectBox {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.projects-cards {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 1px solid gray;
    border-radius: 16px;
    padding: 2rem;
    width: 100%;
    max-width: 420px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.projects-cards:hover {
    transform: translateY(-8px);
}

.projectImage {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.box-textProject {
    padding: 1.5rem;
}

/* CONTACTS */
.contacts {
    padding: 5rem 2rem;
}

.contactsPage {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Contact-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.contactBox {
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.group-Form {
    margin-bottom: 1.5rem;
}

.field-Form {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    outline: none;
}

.field-Form::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.btn-contact {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg, yellow, orange);
    font-weight: bold;
    cursor: pointer;
}


.btn-cv {
    width: 180px;
    padding: 12px 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    margin: 2rem;

    padding: .8rem 1.5rem;
    border-radius: 30px;
    background: linear-gradient(90deg, yellow, orange);
    color: black;
    font-weight: bold;
    text-decoration: none;

    transition: transform .3s ease, box-shadow .3s ease;
}

.btn-cv:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

/* Gradiente SOMENTE no Silva */
.gradient-text {
    background: linear-gradient(90deg, yellow, orange);
    -webkit-text-fill-color: transparent;
}

.navegation {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(82, 82, 82, 0.8);
    z-index: 100;
}

/* Logo */
.logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    white-space: nowrap;
}

/* Menu continua centralizado */
.menu {
    display: flex;
    gap: 3rem;
    list-style: none;
}

/* Gradiente */
.gradient-text {
    background: linear-gradient(90deg, yellow, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu-toggle {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}

@media (max-width: 768px) {

    .menu {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;

        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        background: rgba(0, 0, 0, 0.95);
        padding: 2rem 0;
        transform: translateY(-10px);
        opacity: 0;
        pointer-events: none;

        transition:
            transform 0.3 ease,
            opacity 0.3 ease;

    }

    .menu.active {
        display: flex;
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .menu-toggle {
        display: block;
    }

    .btn-cv{
        width: 100%;
        justify-content: center;
    }

    .ProjectBox{
        flex-direction: column;
    }


}